.description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10vh 7vw;
  align-items: center;

  padding: 5vh 10vw;

  background: white;

  @include computer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  div {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.description__title {
  margin-bottom: 3vh;

  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.description__illustration {
  width: 100%;
  height: auto;
}
.description__illustration:nth-of-type(2) {
  /*display: none;*/
  grid-row: 4;
  @include computer {
    display: block;
    grid-row: 2;
  }
}
.description__text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3em;
  text-align: justify;

  @include computer {
    display: block;
  }
}
