.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 10vh;

  background: rgb(22, 30, 40);
}
.header__burger {
  height: 10vh;
  width: 10vh;
  margin-right: 5vw;

  background: gray;

  @include computer {
    display: none;
  }
}
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}
.header__logo {
  height: 100%;
  width: auto;
  margin: 3vw;
}
.header__link {
  display: none;

  @include computer {
    display: block;

    margin: 0 2vw;

    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
}
